<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>iboltpag</display-name>
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.iboltpag.controllers</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!--  List of filters -->
<!-- 	<filter> -->
<!-- 	    <filter-name>FilterDefault</filter-name> -->
<!-- 	    <filter-class>com.iboltpag.util.FilterDefault</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 	    <filter-name>FilterDefault</filter-name> -->
<!-- 	    <url-pattern>/newtransctions2</url-pattern> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter> -->
<!-- 	    <filter-name>FilterCross</filter-name> -->
<!-- 	    <filter-class>com.iboltpag.util.FilterCross</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 	    <filter-name>FilterCross</filter-name> -->
<!-- 	    <url-pattern>/newtransctions2</url-pattern> -->
<!-- 	</filter-mapping> -->
	<listener>
		<listener-class>com.iboltpag.util.StartApplication</listener-class>
	</listener>
</web-app>